@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 575px;
    height: 385px;
    display: flex;
    justify-content: space-around;
    background: #1B244A;
}

.score-board-text {
    color: #EEE;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.893px; /* 89.732% */
    margin-top: 70px;
}

.score {
    width: 155px;
    height: 120px;
    flex-shrink: 0;
    background-color: #080001;
    color: #F94F6D;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.666px; /* 140.74% */
}

.score-increments {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.increments {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.incs {
    color: #9AABD8;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.812px; /* 154.509% */
}
